.ingredient-box {
    display: flex;
    flex-direction: column;
}

.direction-box {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.recipe-box {
    padding: 50px;
}

.button-box {
    display: flex;
    margin: auto;
}