<div class="recipe-box">
    <div class="ingredient-box">
        <mat-form-field>
            <mat-label>Recipe Name</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>
        @if (ingredients.length > 0) {
            <ul>
                @for (item of ingredients; track item) {
                    <li>{{item}} <mat-icon class="remove-icon" (click)="deleteFromArray('ingredient', $index)">remove_circle_outline</mat-icon></li>
                }
            </ul>
        }
        <mat-form-field>
            <mat-label>Ingredients</mat-label>
            <input matInput [(ngModel)]="ingredient">
        </mat-form-field>
        <button mat-flat-button color="primary" class="add-button" (click)="addIngredient()">Add</button>
    </div>
    <div class="direction-box">
        @if (directions.length > 0) {
            <ul>
                @for (item of directions; track item) {
                    <li>{{item}} <mat-icon class="remove-icon" (click)="deleteFromArray('direction', $index)">remove_circle_outline</mat-icon></li>
                }
            </ul>
        }
        <mat-form-field>
            <mat-label>Direction</mat-label>
            <input matInput [(ngModel)]="direction">
        </mat-form-field>
        <button mat-flat-button color="primary" class="add-button" (click)="addDirection()">Add</button>
    </div>
</div>
<div class="button-box">
    <button mat-flat-button color="primary" (click)="addRecipe()">Save Recipe</button>
    <button mat-flat-button color="warn" (click)="closeDialog()">Close</button>
</div>