<section class="reset-call">
    <h1>Reset Password</h1>
</section>

@if (!resetClicked) {
    <section class="reset-container" [formGroup]="passReset">
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>
        <button mat-raised-button (click)="resetPassword()" [disabled]="!this.passReset.valid">Reset</button>
    </section>
} @else {
    <section class="reset-container">
        <p>Password reset e-mail sent to {{userEmail}}!</p>
    </section>
}