mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #F0CF90;
    color: black;
    height: 75px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    margin-right: 10px;
}

.logo {
    height: 65px;
    margin-top: 10px;
}

.body-buttons {
    display: none;
}

@media all and (max-width: 1667px) {
    .header-buttons {
        display: none;
    }

    .body-buttons {
        display: inline;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    }
}