mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    height: 75px;
    border-bottom: 2px solid black;
}

a {
    text-decoration: none;
    color: black;
}

button {
    margin-right: 10px;
}

.logo {
    height: 65px;
    margin-top: 10px;
}

.logged-in-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    button {
        margin-left: 25px;
    }
}

/* .header-buttons {
    margin-top: 25px;
} */

.user-profile {
    cursor: pointer;
    &:hover {
        color: #4793AF;
    }
}

.body-buttons {
    display: none;
}

@media all and (max-width: 960px) {
    .header-buttons {
        display: none;
    }

    .logged-in-buttons button {
        display: none;
    }

    .body-buttons {
        display: inline;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    }
}