<mat-sidenav-container>
    <mat-sidenav mode="side" [fixedInViewport]="true" [fixedTopGap]="75" [opened]="showSidenav">
        @if (this.userAdmin) {
            <button mat-flat-button color="warn" (click)="addRecipe()">Add Recipe</button>
        }
        @for (item of recipes;  track item.id) {
            <h1 class="recipe-link" (click)="selectRecipe(item)">{{item.name}}</h1>
        }
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-icon (click)="sidenavToggle()">{{showSidenav ? 'keyboard_double_arrow_left' : 'keyboard_double_arrow_right'}}</mat-icon>
        @if (this.userAdmin) {
            <button mat-flat-button color="warn" class="edit-button">Edit Recipe</button>
        }
        @if (selectedRecipe) {
            <div class="recipe-box">
                <h1>{{selectedRecipe.name}}</h1>
                <ul>
                    @for (ingredient of selectedRecipe.ingredients; track ingredient) {
                        <li>{{ingredient}}</li>
                    }
                </ul>
                <ol>
                    @for (direction of selectedRecipe.directions; track direction) {
                        <li>{{direction}}</li>
                    }
                </ol>
            </div>
        }
    </mat-sidenav-content>
</mat-sidenav-container>